[submodule "third_party/gemmlowp"]
	path = third_party/gemmlowp
	url = https://github.com/google/gemmlowp.git
[submodule "third_party/ruy"]
	path = third_party/ruy
	url = https://github.com/google/ruy.git
